.gallery {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    margin: 175px;
    margin-top: 50px;
    grid-gap: 100px;
}

.Picture {
    margin-right: 100px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

canvas {
	display: block;
  }