 .gallery {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-gap: 1%;
    margin-left: 17%;
    margin-top: 2.5%;
} 

.Picture {
    display: flex;
    justify-content: center;
    align-items: center;
} 

canvas {
	display: block;
  }

  .GIF {
      margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  